<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>

<p>
  The total number of products on the website is:
  <%= @products %>
</p>

<p>
  The total number of product categories on the website is:
  <%= @categories %>
</p>

<hr>

<%= link_to 'Products',  [:admin, :products] %>